{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{asset('style.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{asset('images/logo.png')}}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<input type="checkbox" id="active">
	<label for="active" class="menu-btn">
		<span></span>
	</label>
	<label for="active" class="close"></label>
	<div class="wrapper">
		<ul>
			<li><a href="/">Accueil</a></li>
			<li><a href="/presentation">Presentation</a></li>
			<li><a href="/hackathon">Hackathons</a></li>
			<div class="alignement" style="display: table;">
			<li style="padding-left:200px"><a href="/deconnexion"><img src="{{asset('images/deconnexion.png')}}" style="width:50px"></a></li>
			<li><a href="/connexion"><img src="{{asset('images/connexion.png')}}" style="width:50px"></a></li>
			</div>
		</ul>
	</div>
	<div class="content">
		<div class="title">
			Bienvenue sur Hackat'Agence</div>
	</br>
	<center>
		<a href="/inscription" style="text-decoration: none">
			<div class="btn from-center">
				<p>
					S'inscrire
				</p>
			</div>
		</a>
	</center>
</br>
<a href="/connexion">
	<button class="button-81" role="button">
		<p style="font-size : 20px">
			Déjà membre ? Connecter vous ici !
		</p>
	</button>
</a></div>{% endblock %}
