{% extends 'base.html.twig' %}

{% block title %}Présentation
{% endblock %}
{% block body %}
	{{ include('navbar.html.twig') }}
	<div class="content">
		<div class="title">
			Presentation</div>
	</br>
	<div style="font-size: 50px; max-width: 70%;margin-left: auto;
						margin-right: auto; color:black;">
		Un hackathon est un évènement durant lequel des groupes de développeurs volontaires se réunissent pendant une période de temps donnée afin de travailler sur des projets de programmation informatique de manière collaborative.
	</div>
</br>
<a href="/hackathon">
	<button class="button-81" role="button">
		<p style="font-size : 20px">
			Voir les hackathons !</p>
	</button>
</a></div>{% endblock %}
